.current-choice__container {
	display: flex;
	justify-content: center;
	align-self: flex-start;
	order: 0;
}

.button__league.button__league {
	border: 0.5px solid blue;
	margin-right: 1em;
}
.button__fixture.button__fixture {
	border: 0.5px solid blue;
	margin-right: 1em;
}
