@media (min-width: 770px) {
	.game-card {
		display: grid;
		grid-template-columns: 15% 10% 25% 25% 25%;
		margin: 1%;
		padding: 1em;
		text-align: center;
	}
	.div-name-home {
		display: flex;
		justify-content: center;
	}
	.div-name-away {
		display: flex;
		justify-content: center;
	}
	.time-box {
		align-self: center;
		margin: 1em;
		border-radius: 2em;
		padding: 0.7em;
		background-color: #51a45f;
		color: white;
	}
	.date-box {
		align-self: center;
		justify-self: center;
		margin: 1em;
		border: solid 0.5px black;
		border-radius: 0.3em;
		padding: 0.7em;
		width: 60px;
	}
	.emblems {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.line {
		margin-right: 0.8em;
		margin-left: 0.8em;
		font-size: 2em;
	}
	.names {
		align-self: center;
	}
}

@media (max-width: 770px) {
	.game-card {
		display: grid;
		grid-template-columns: 20% 10% 70%;
		grid-template-rows: 50% 50%;
		margin: 1%;
		padding: 1em;
		text-align: center;
	}
	.time-box {
		grid-row-start: 2;
		grid-row-end: 3;
		align-self: center;
		margin: 0.3em;
		border-radius: 2em;
		padding: 0.7em;
		background-color: #51a45f;
		color: white;
	}
	.date-box {
		grid-row-start: 1;
		grid-row-end: 2;
		align-self: center;
		justify-self: center;
		border: solid 0.5px black;
		border-radius: 0.3em;
		padding: 0.7em;
	}

	.emblems {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	.div-name {
		justify-self: start;
		margin-left: 1em;
	}
	.line {
		color: white;
		width: 0px;
	}
}
